{% extends "core/base.html" %}
{% block content %}
<div class="container mt-4">
  <h3>📈 Reporte de Metas por Departamento</h3>

  <form method="get" class="mb-3">
    <label>Filtrar por departamento:</label>
    <select name="departamento" onchange="this.form.submit()" class="form-select">
      <option value="">-- Todos --</option>
      {% for d in departamentos %}
      <option value="{{ d.id }}" {% if request.GET.departamento == d.id|stringformat:"s" %}selected{% endif %}>{{ d.nombre }}</option>
      {% endfor %}
    </select>
    <button name="exportar" value="1" class="btn btn-success mt-2">Exportar a Excel</button>
  </form>

  <table id="tablareportes" class="table table-striped table-bordered">
    <thead>
      <tr class="text-center text-nowrap">
        <th>Departamento</th>
        <th>Meta</th>
        <th>Proyecto</th>
        <th>Objetivo</th>
        <th>Ciclo</th>
        <th>Indicador</th>
        <th>Línea Base</th>
        <th>Meta a Cumplir</th>
        <th>Acumulado</th>
        <th>Cumplimiento</th>
      </tr>
    </thead>
    <tbody>
      {% for m in metas %}
      <tr class="text-center align-middle">
        <td>{{ m.departamento }}</td>
        <td>{{ m.nombre }}</td>
        <td>{{ m.proyecto }}</td>
        <td>{{ m.objetivo }}</td>
        <td>{{ m.ciclo }}</td>
        <td>{{ m.indicador }}</td>
        <td>{{ m.lineabase }}</td>
        <td>{{ m.metacumplir }}</td>
        <td>{{ m.total_acumulado }}</td>
         <td class="text-center ">
            <div class="d-flex align-items-center gap-1 ">
                <div class="progress flex-grow-1">
                    <div class="progress-bar 
                        {% if m.cumplimiento >= 80 %}bg-success
                        {% elif m.cumplimiento >= 50 %}bg-info
                        {% elif m.cumplimiento >= 25 %}bg-warning
                        {% else %}bg-danger{% endif %}" 
                        style="width: {{ m.cumplimiento }}%">
                    </div>
                </div>
                <small class="fw-semibold">{{ m.cumplimiento }}%</small>
            </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block extra_js %}

<script>
$(document).ready(function () {
    var table = $('#tablareportes').DataTable({
        scrollX: true,
        scrollY: '500px',
        scrollCollapse: true,
        fixedColumns: {
            left: 1,
        },
        lengthMenu: [5, 10, 15, 20, 50],
        autoWidth: false,
        paging: true,
        searching: true,
        info: true,
        pageLength: 5,
        language: {
            url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json',
        },
        // Configuración adicional para mejorar el rendimiento con muchas columnas
        deferRender: true,
        scroller: true,
        stateSave: true,
    });
});
</script>
{% endblock %}
